node_modules/
.obsidian/
conn.php
.DS_STORE
.eslintcache
.eslintrc.js
*.bak

homeworks/week1/ignore/
homeworks/week2/ignore/
homeworks/week3/ignore/
homeworks/week4/ignore/
homeworks/week5/ignore/
homeworks/week6/ignore/
homeworks/week7/ignore/
homeworks/week8/ignore/
homeworks/week9/ignore/
homeworks/week10/ignore/
homeworks/week11/ignore/
homeworks/week12/ignore/
homeworks/week13/ignore/
homeworks/week14/ignore/
homeworks/week15/ignore/
homeworks/week16/ignore/
homeworks/week17/ignore/
homeworks/week18/ignore/
homeworks/week19/ignore/
homeworks/week20/ignore/
homeworks/week21/ignore/
homeworks/week22/ignore/
homeworks/week23/ignore/
homeworks/week24/ignore/

