body {
  font-family: "Microsoft JhengHei", 微軟正黑體;
}

.top {
  padding: 121px 0 66px;
}

.form-bg {
  width: 645px;
  margin: 0 auto;
  padding-top: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: #fad312;
  box-shadow: -1.8px 2.4px 5px rgba(0, 0, 0, 0.3);
}

.form-body {
  padding: 54px 0 35px 40px;
  background: white;
  background: #fff;
}

.form-title {
  font-size: 36px;
  letter-spacing: -1.8px;
  font-weight: bold;
  color: #000
}

.form-desc {
  margin-top: 35px;
  font-size: 14px;
}

.form-desc2 {
  margin-top: 11px;
  font-size: 14px;
}

.required-notation {
  margin-top: 22px;
  font-size: 16px;
  color: #e74149;
}

.input-name {
  margin-top: 55px;
  font-size: 20px;
  font-weight: bold;
}

.required:after {
  content: "*";
  /* margin-left: 1em; */
  margin-left: 1ex;
  font-weight: bold;
  color: #e74149;
}

.input {
  margin-top: 20px;
  font-size: 16px;
}

.input-text {
  width: 287px;
  height: 23px;
}

/* .input-radio {} */

.input-submit {
  box-sizing: border-box;
  width: 92px;
  height: 40px;
  background: #fad312;
  border: none;
  border-radius: 5px;
}

.form-desc3 {
  font-size: 16px;
  margin-top: 12px;
}

.bottom {
  box-sizing: border-box;
  height: 60px;
  border-top: solid 3px #fad312;
  background: black;
}

.copyright {
  margin: 2em auto;
  text-align: center;
  font-size: 13px;
  color: #999;
}
